body {
  background: white;
  margin: 30px;
}

.body {
  background: white;
  margin: 0;
}

.checked {
  color: orange;
}

.fa-star {
  padding: 5px;
}

.dollar {
  padding: 2px;
  color: forestgreen;
  font-weight: bold;
}

.tablePic {
  width: auto;
  height: 75px;
  max-height: 75px;
}
