<template>
  <div id="AddReview">
    <div v-if="!$cookies.isKey('X-Authorization')">
      <v-alert :value="true" type="error">You are not logged in</v-alert>
    </div>
    <div v-else-if="ownVenue">
      <v-alert :value="true" type="error">You can not review your own venue</v-alert>
    </div>
    <div v-else-if="alreadyPosted">
      <v-alert :value="true" type="error">You can not post multiple reviews to the same venue</v-alert>
    </div>
    <div v-else-if="errorFlag">
      <v-alert :value="true" type="error">{{ error }}</v-alert>
    </div>
    <div v-else>
      <form>
        <v-textarea
          v-model="review"
          v-validate="'required|max:1024'"
          :error-messages="errors.collect('review')"
          label="Review Message"
          data-vv-name="review"
          :counter="1024"
          required
        >
        </v-textarea>
        <star-rating :star-rating="starRating" :dp="0" />
        <v-slider
          v-model="starRating"
          :tick-labels="[1,2,3,4,5]"
          label="Star Rating"
          :max="5"
          :min="1"
          ticks="always"
          always-dirty
        >
        </v-slider>
        <cost-rating :cost-rating="costRating" />
        <v-slider
          v-model="costRating"
          :tick-labels="['Free',1,2,3,4]"
          label="Cost Rating"
          :max="4"
          :min="0"
          ticks="always"
          always-dirty
        ></v-slider>
        <v-btn color="primary" @click="submit">Add Review</v-btn>
      </form>
    </div>
  </div>
</template>

<script>
    import StarRating from "./StarRating";
    import CostRating from "./CostRating";
    import Navbar from "./Navbar";
    export default {
      $_veeValidate: {
        validator: 'new'
      },
      components: {Navbar, CostRating, StarRating},
      data: function () {
        return {
          error: "",
          errorFlag: false,
          venueAdminId: -1,
          ownVenue: false,
          alreadyPosted: false,
          review: "",
          starRating: 3,
          costRating: 3,
          venueId: this.$route.params.venueId,
        }
      },

      mounted: function () {
        this.checkOwnVenue();
        this.checkAlreadyPosted();
      },

      methods: {
        submit: function () {
          this.$validator.validateAll()
            .then((result) => {
              if (!result) return;
              const review = {
                reviewBody: this.review,
                starRating: this.starRating,
                costRating: this.costRating
              };
              this.$http.post('http://localhost:4941/api/v1/venues/' + this.venueId + '/reviews', JSON.stringify(review), {
                headers: {'X-Authorization': this.$cookies.get('X-Authorization')}
              })
                .then(function (response) {
                  this.$router.push({name: 'Venues'});
                }, function (error) {
                  this.error = error;
                  this.errorFlag = true;
                });
            });
        },

        checkOwnVenue: function () {
          this.$http.get('http://localhost:4941/api/v1/venues/' + this.venueId)
            .then(function (response) {
              this.ownVenue = Number(this.$cookies.get('userId')) === response.data.admin.userId;
            }, function (error) {
              this.error = error;
              this.errorFlag = true;
            });
        },

        checkAlreadyPosted: function () {
          const userId = Number(this.$cookies.get('userId'));
          this.$http.get('http://localhost:4941/api/v1/users/' + userId + '/reviews', {
            headers: {'X-Authorization': this.$cookies.get('X-Authorization')}
          })
            .then(function (response) {
              for (let i=0; i<response.data.length; i++) {
                if (response.data[i].venue.venueId === this.venueId) {
                  this.alreadyPosted = true;
                }
              }
            }, function (error) {
              this.error = error;
              this.errorFlag = true;
            });
        }
      }
    }
</script>

<style scoped>

</style>
