<template>
  <div id="AddVenuePhoto">
    <img v-if="filename" :src="filename" height="100" alt=""/>
    <v-btn @click="pickFile"><v-icon left>link</v-icon>Select Picture</v-btn>
    <input
      type="file"
      style="display: none"
      ref="image"
      accept=".jpg,.jpeg,.png"
      @change="onFilePicked"
    >
    <p><strong>Filename: </strong>{{ filename }}</p>
    <v-checkbox v-model="setPrimary" label="Set primary"></v-checkbox>
    <v-btn @click="cancel" color="error">Cancel</v-btn>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        filename: "",
        setPrimary: null
      }
    },

    methods: {
      cancel: function () {
        this.$emit('cancelPhoto');
      }
    }
  }
</script>
