<template>
  <div id="AddVenue">
    <div v-if="errorFlag" class="well text-danger">
      {{ error }}
    </div>
    <h2>Add Venue</h2>
    <div v-if="$cookies.isKey('X-Authorization')">
      <form>
        <v-text-field
          v-model="name"
          v-validate="'required|max:64'"
          :error-messages="errors.collect('name')"
          label="Name"
          :counter="64"
          data-vv-name="name"
          required
        ></v-text-field>
        <v-select
          v-model="category"
          :items="categories"
          v-validate="required"
          item-text="categoryName"
          item-value="categoryId"
          label="Category"
          data-vv-name="category"
          required
        ></v-select>
        <v-text-field
          v-model="shortDescription"
          v-validate="'required|max:128'"
          :error-messages="errors.collect('shortDescription')"
          label="Short Description"
          :counter="128"
          data-vv-name="shortDescription"
          required
        ></v-text-field>
        <v-textarea
          v-model="longDescription"
          v-validate="'required|max:2048'"
          :error-messages="errors.collect('longDescription')"
          :counter="2048"
          label="Long Description"
          data-vv-name="longDescription"
          required
        ></v-textarea>
        <v-text-field
          v-model="city"
          v-validate="'required|max:128'"
          :error-messages="errors.collect('city')"
          label="City"
          data-vv-name="city"
          required
        ></v-text-field>
        <v-text-field
          v-model="address"
          v-validate="'required|max:256'"
          :error-messages="errors.collect('address')"
          label="Address"
          data-vv-name="address"
          required
        ></v-text-field>
        <v-text-field
          v-model="latitude"
          v-validate="'required|between:-90,90'"
          :error-messages="errors.collect('latitude')"
          label="Latitude"
          data-vv-name="latitude"
          required
        ></v-text-field>
        <v-text-field
          v-model="longitude"
          v-validate="'required|between:-180,180'"
          :error-messages="errors.collect('longitude')"
          label="Longitude"
          data-vv-name="longitude"
          required
        ></v-text-field>

        <v-btn color="primary" @click="submit">Submit</v-btn>
        <v-btn color="error" @click="clear">Clear</v-btn>
      </form>
    </div>
    <div v-else>
      <v-alert v-model="alert" type="error">You are not logged in</v-alert>
    </div>
  </div>
</template>

<script>
  import Navbar from "./Navbar";
  export default {
    components: {Navbar},
    $_veeValidate: {
      validator: 'new'
    },

    data: function() {
      return {
        error: "",
        errorFlag: false,
        alert: true,
        categories: [],
        name: "",
        category: 1,
        shortDescription: "",
        longDescription: "",
        city: "",
        address: "",
        latitude: null,
        longitude: null
      }
    },

    mounted: function () {
      this.getCategories();
      this.$validator.localize('en', this.dictionary)
    },

    methods: {
      submit: function () {
        this.$validator.validateAll()
          .then((result) => {
            if (!result) return;
            const venue = {
              venueName: this.name,
              categoryId: this.category,
              shortDescription: this.shortDescription,
              longDescription: this.longDescription,
              city: this.city,
              address: this.address,
              latitude: Number.parseFloat(this.latitude),
              longitude: Number.parseFloat(this.longitude)
            };
            this.$http.post('http://localhost:4941/api/v1/venues', JSON.stringify(venue), {
              headers: {
                'X-Authorization': this.$cookies.get('X-Authorization')
              }
            })
              .then(
                function () {
                  this.$router.push({ name: "Venues" });
                }, function (error) {
                  this.error = error;
                  this.errorFlag = true;
                }
              )
          }, function (error) {
            this.error = error;
            this.errorFlag = true;
          })
      },

      clear: function () {
        this.name = '';
        this.category = null;
        this.shortDescription = '';
        this.longDescription = '';
        this.city = '';
        this.address = '';
        this.latitude = null;
        this.longitude = null;
      },

      getCategories: function () {
        this.$http.get('http://localhost:4941/api/v1/categories')
          .then(
            function (response) {
              this.categories = response.data;
            }, function (error) {
              this.error = error;
              this.errorFlag = true;
            }
          )
      }
    }

  }
</script>

