<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div id="AllProfiles">
    <v-card :elevaltion="1">
      <v-card-title>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="users"
        :search="search"
        :pagination.sync="pagination"
      >
        <template v-slot:items="props">
          <td>{{ props.item.username }}</td>
          <td>{{ props.item.givenName }}</td>
          <td>{{ props.item.familyName }}</td>
          <td>{{ props.item.email ? props.item.email : "Private" }}</td>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
  import Navbar from "./Navbar";
  export default {
    components: {Navbar},

    data: function() {
      return {
        headers: [
          {text: 'Username', value: 'username'},
          {text: 'Given Name', value: 'givenName'},
          {text: 'Family Name', value: 'familyName'},
          {text: 'Email Address', value: 'email'}
        ],
        pagination: { rowsPerPage: 10 },
        search: "",
        users: []
      }
    },

    created: function () {
      this.getAllUsers();
    },

    methods: {
      getAllUsers: function() {
        this.getUser(1);
      },

      getUser: function (id) {
        const token = this.$cookies.get('X-Authorization');
        this.$http.get("http://localhost:4941/api/v1/users/" + id, {
          headers: {'X-Authorization': token}
        })
          .then(function (response) {
            console.log(response.data);
            this.users.push(response.data);
            this.getUser(id + 1);
          }, function () {
          });
      }
    }

  }
</script>
