<template>
    <v-app id="app">
      <div>
        <navbar @logOut=logOut :loggedIn="loggedIn"></navbar>
      </div>
      <v-content>
        <router-view @refresh="checkSession"></router-view>
      </v-content>
    </v-app>
</template>
<script>
  import Navbar from "./Navbar";
  export default {
    components: {Navbar},
    data: function() {
      return {
        loggedIn: false,
      }
    },
    created: function () {
      this.checkSession();
    },

    methods: {
      checkSession: function() {
        this.loggedIn = this.$cookies.isKey('X-Authorization');
      },

      logOut: function () {
        this.$http.post('http://localhost:4941/api/v1/users/logout', JSON.stringify({meme: "town"}), {
          headers: {'X-Authorization': this.$cookies.get('X-Authorization')}
        })
          .then(function () {
            this.removeSession();
            this.$router.push({name: 'Venues'})
          }, function (error) {
            this.removeSession();
            this.error = error;
            this.errorFlag = true
          });
      },

      removeSession: function() {
        this.$cookies.remove('X-Authorization');
        this.$cookies.remove('userId');
        this.loggedIn = false;
      }
    }
  }
</script>
