<template>
  <div id="CostRating">
    <span v-if="costRating != null">
      <span v-for="i in costRating" class="dollar">$</span>
        {{ costRating === 0 ? "Free" : costRating }}
      </span>
    <p v-else>No Cost Rating</p>
  </div>
</template>

<script>
  export default {
    props: {
      costRating: {default: null}
    }
  }
</script>

