<template>
  <form>
    <v-text-field
      v-model="password"
      type="password"
      ref="password"
      v-validate="'required'"
      :error-messages="errors.collect('password')"
      label="Current Password"
      data-vv-name="password"
      required
    ></v-text-field>
    <v-text-field
      v-model="newPassword"
      type="password"
      ref="newPassword"
      v-validate="'required'"
      :error-messages="errors.collect('newPassword')"
      label="New Password"
      data-vv-name="newPassword"
      required
    ></v-text-field>
    <v-text-field
      v-model="repeatedPassword"
      type="password"
      v-validate="'required|confirmed:newPassword'"
      ref="repeatedPassword"
      :error-messages="errors.collect('repeatedPassword')"
      label="Confirm Password"
      data-vv-name="repeatedPassword"
      data-vv-as="newPassword"
      required
    ></v-text-field>
    <v-btn @click="checkCurrentPassword" color="success">Save</v-btn>
    <v-btn @click="cancel" color="error">Cancel</v-btn>
  </form>
</template>

<script>
  export default {
    $_veeValidate: {
      validator: 'new'
    },

    props: {
      username: {default: null}
    },

    data: function () {
      return {
        password: "",
        newPassword: "",
        repeatedPassword: "",
      }
    },

    methods: {
      edit: function () {
        this.password = "";
        this.newPassword = "";
        this.repeatedPassword = "";
      },

      checkCurrentPassword: function () {
        const credentials = {
          username: this.username,
          password: this.password
        };
        this.$http.post('http://localhost:4941/api/v1/users/login', JSON.stringify(credentials))
          .then((response) => {
            this.$cookies.set('X-Authorization', response.data.token);
            this.savePassword();
          }, () => {
            this.$emit('hacking');
          });
      },

      savePassword: function () {
        this.$validator.validateAll()
          .then((result) => {
            if (!result) return;
            const newPassword = {password: this.newPassword};
            this.$http.patch('http://localhost:4941/api/v1/users/' + this.$cookies.get('userId'), JSON.stringify(newPassword), {
              headers: {'X-Authorization': this.$cookies.get('X-Authorization')}
            })
              .then(function () {
                this.$emit('done')
              }, function () {
              });
          });
      },

      reset: function () {
        this.newPassword = "";
        this.repeatedPassword = "";
        this.password = "";
      },

      cancel: function () {
        this.reset();
        this.$emit('done');
      }
    }

  }
</script>

<style scoped>

</style>
