<template>
    <div id="EmailLogin.vue">
      <div v-if="errorFlag" class="well text-danger">
        {{ error }}
      </div>
      <form>
        <v-text-field
          v-model="email"
          v-validate="'required|email'"
          :error-messages="errors.collect('email')"
          label="Email"
          data-vv-name="email"
          required
        ></v-text-field>
        <v-text-field
          v-model="password"
          type="password"
          v-validate="'required'"
          :error-messages="errors.collect('password')"
          label="Password"
          data-vv-name="password"
          required
        ></v-text-field>
      </form>
      <v-btn color="primary" @click="login">Log in</v-btn>
    </div>
</template>

<script>
    export default {
      $_veeValidate: {
        validator: 'new'
      },

      data: function () {
        return {
          error: "",
          errorFlag: false,
          email: "",
          password: ""
        }
      },

      methods: {
        login: function () {
          this.$validator.validateAll()
            .then((result) => {
              if (!result) return;

              let credentials = {
                email: this.email,
                password: this.password
              };

              this.$http.post("http://localhost:4941/api/v1/users/login", JSON.stringify(credentials))
                .then(function (response) {
                  this.$cookies.set('X-Authorization', response.data.token, '1d');
                  this.$cookies.set('userId', response.data.userId, '1d');
                  this.$router.push({ name: "Venues" });
                }, function (error) {
                  this.error = error.statusText;
                  this.errorFlag = true;
                });
            });
        }
      }
    }
</script>
