<template>
    <div id="Home" class="body">
      <navbar></navbar>
      <v-alert v-model="errorFlag" type="error">{{error}}   Unknown error, Please try again later</v-alert>
      <h1>Home Page!</h1>
      <router-link :to="{name: 'Register'}"><v-btn>Register User</v-btn></router-link>
      <router-link :to="{name: 'Login'}"><v-btn>Log In</v-btn></router-link>
      <router-link :to="{name: 'Venues'}"><v-btn>Venues</v-btn></router-link>
      <router-link v-if="loggedIn" :to="{name: 'MyProfile'}"><v-btn>Your Profile</v-btn></router-link>
      <v-btn v-if="loggedIn" color="error" @click="logOut">Log out</v-btn>
    </div>
</template>

<script>
  import Navbar from './Navbar'
  export default {
    components: {Navbar},
    data: function () {
      return {
        error: "",
        errorFlag: false,
        loggedIn: this.$cookies.isKey('X-Authorization')
      }
    },

    methods: {
      logOut: function () {
        this.$http.post('http://localhost:4941/api/v1/users/logout', JSON.stringify({meme: "town"}), {
          headers: {'X-Authorization': this.$cookies.get('X-Authorization')}
        })
          .then(() => {
            this.$cookies.remove('X-Authorization');
            this.$cookies.remove('userId');
            this.loggedIn = false;
          }, (error) => {
            this.$cookies.remove('X-Authorization');
            this.$cookies.remove('userId');
            this.loggedIn = false;
            this.error = error;
            this.errorFlag = true
          });

      }
    }
  }
</script>
