<template>
  <div id="Login">
    <div v-if="$cookies.isKey('X-Authorization')">
      <v-alert v-model="alert" type="error">You are already logged in</v-alert>
    </div>
    <div v-else>
      <v-tabs>
        <v-tab :key="0">
          Username
        </v-tab>
        <v-tab-item :key="0">
          <username-login/>
        </v-tab-item>
        <v-tab :key="1">
          Email
        </v-tab>
        <v-tab-item :key="1">
          <email-login/>
        </v-tab-item>
      </v-tabs>
    </div>
  </div>
</template>

<script>
  import EmailLogin from "./EmailLogin";
  import UsernameLogin from "./UsernameLogin"
  import Navbar from "./Navbar";

  export default {
    components: {Navbar, UsernameLogin, EmailLogin},

    data: function () {
      return {
        alert: true
      }
    }
  }
</script>

