<template>
    <div id="MyProfile">
      <div v-if="!this.$cookies.isKey('X-Authorization')">
        <v-alert :value="true" type="error">You must be logged in</v-alert>
      </div>
      <div v-else-if="errorFlag">
        <v-alert :value="true" type="error">Unknown Error</v-alert>
      </div>
      <div v-else>
        <div v-if="incorrectPasswordErr">
          <v-alert :value="true" type="error">Your password was incorrect</v-alert>
        </div>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email Address:</strong> {{ user.email }}</p>
        <div v-if="editing">
          <form>
            <v-text-field
              v-model="user.givenName"
              v-validate="'required'"
              :error-messages="errors.collect('user.givenName')"
              label="Given Name"
              data-vv-name="user.givenName"
              required
            ></v-text-field>
            <v-text-field
              v-model="user.familyName"
              v-validate="'required'"
              :error-messages="errors.collect('user.familyName')"
              label="Family Name"
              data-vv-name="user.familyName"
              required
            ></v-text-field>
            <v-btn @click="save" color="success">Save</v-btn>
            <v-btn @click="reset" color="warning">Reset</v-btn>
            <v-btn @click="cancel" color="error">Cancel</v-btn>
          </form>
        </div>
        <div v-else>
          <p><strong>Given Name:</strong> {{ user.givenName }}</p>
          <p><strong>Family Name:</strong> {{ user.familyName }}</p>
          <div v-if="passwordEditing">
            <edit-password :username="user.username" @done="passwordEditing = false" @hacking="incorrectPassword"></edit-password>
          </div>
          <div v-else>
            <v-btn @click="edit" color="warning">Edit</v-btn>
            <v-btn @click="editPassword" color="warning">Change Password</v-btn>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  import Navbar from "./Navbar";
  import EditPassword from "./EditPassword";
  export default {
    components: {EditPassword, Navbar},
    $_veeValidate: {
      validator: 'new'
    },

    data: function () {
      return {
        error: "",
        errorFlag: false,
        editing: false,
        passwordEditing: false,
        incorrectPasswordErr: false,
        userId: this.$cookies.get("userId"),
        user: {},
        savedGiven: "",
        savedFamily: ""
      }
    },

    mounted: function () {
      this.getUser();
    },

    methods : {
      getUser: function () {
        this.$http.get("http://localhost:4941/api/v1/users/" + this.userId, {
          headers: {'X-Authorization': this.$cookies.get('X-Authorization')}
        })
          .then(function (response) {
            this.user = response.data;
          }, function (error) {
            this.error = error;
            this.errorFlag = true;
          });

      },

      edit: function () {
        this.savedGiven = this.user.givenName;
        this.savedFamily = this.user.familyName;
        this.editing = !this.editing;
      },

      editPassword: function () {
        this.passwordEditing = true;
        this.incorrectPasswordErr = false;
      },

      save: function () {
        this.$validator.validateAll()
          .then((result) => {
            if (!result) return;
            let details = {
              givenName: this.user.givenName,
              familyName: this.user.familyName,
            };
            this.$http.patch('http://localhost:4941/api/v1/users/' + this.$cookies.get('userId'), JSON.stringify(details), {
              headers: {'X-Authorization': this.$cookies.get('X-Authorization')}
            })
              .then(function () {
                this.editing = !this.editing;
              }, function (error) {
                this.error = error;
                this.errorFlag = error;
              });
          });
      },

      reset: function () {
        this.user.givenName = this.savedGiven;
        this.user.familyName = this.savedFamily;
      },

      cancel: function () {
        this.reset();
        this.editing = false;
      },

      incorrectPassword: function () {
        this.incorrectPasswordErr = true;
        this.passwordEditing = false;
      }
    }
  }
</script>
