<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div id="Navbar">
    <v-toolbar flat app>
      <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
    </v-toolbar>
      <v-navigation-drawer
        app
        v-model="drawer"
      >
        <v-list>
          <v-list-group
            prepend-icon="place"
            value="false"
          >
            <template v-slot:activator>
              <v-list-tile>
                <v-list-tile-title>Venues</v-list-tile-title>
              </v-list-tile>
            </template>
            <v-list-tile :to="{name: 'Venues'}">
              <v-list-tile-action>
                <v-icon>map</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>All Venues</v-list-tile-title>
            </v-list-tile>
            <v-list-tile :to="{name: 'VenuesAdd'}">
              <v-list-tile-action>
                <v-icon>add_location</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>Add Venue</v-list-tile-title>
            </v-list-tile>
            <v-list-tile v-if="loggedIn" :to="{name: 'Venues', query: {adminId: this.$cookies.get('userId')}}">
              <v-list-tile-action>
                <v-icon>verified_user</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>Venue Admin</v-list-tile-title>
            </v-list-tile>
          </v-list-group>
          <v-list-group
            prepend-icon="account_circle"
            value="true"
          >
            <template v-slot:activator>
              <v-list-tile>
                <v-list-tile-title>Users</v-list-tile-title>
              </v-list-tile>
            </template>
            <v-list-tile :to="{name: 'AllProfiles'}">
              <v-list-tile-action>
                <v-icon>people</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>All Users</v-list-tile-title>
            </v-list-tile>
            <div v-if="loggedIn">
              <v-list-tile :to="{name: 'MyProfile'}">
                <v-list-tile-action>
                  <v-icon>person</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>View Profile</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="logOut">
                <v-list-tile-action>
                  <v-icon>lock</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Log Out</v-list-tile-title>
              </v-list-tile>
            </div>
            <div v-else>
              <v-list-tile :to="{name: 'Register'}">
                <v-list-tile-action>
                  <v-icon>person_add</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Register User</v-list-tile-title>
              </v-list-tile>
              <v-list-tile :to="{name: 'Login'}">
                <v-list-tile-action>
                  <v-icon>lock_open</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Log In</v-list-tile-title>
              </v-list-tile>
            </div>
          </v-list-group>
        </v-list>
      </v-navigation-drawer>
  </div>
</template>

<script>
    export default {
      props: {
        loggedIn: {default: null}
      },
      data: function () {
        return {
          drawer: true
        }
      },
      methods: {
        logOut: function () {
          this.$emit('logOut');
        }
      }
    }
</script>

<style scoped>

</style>
