<template>
  <div id="OtherProfile">
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Given Name:</strong> {{ user.givenName }}</p>
    <p><strong>Family Name:</strong> {{ user.familyName }}</p>
  </div>
</template>

<script>
  export default {

    data: function () {
      return {
        user: {},
        id: this.$route.params.id
      }
    },

    mounted: function () {
      if (Number(this.$route.params.id) === Number(this.$cookies.get('userId'))) this.$router.push({name: 'MyProfile'});
      this.getUser();
    },

    methods: {
      getUser: function () {
        this.$http.get("http://localhost:4941/api/v1/users/" + this.id)
          .then(function (response) {
            this.user = response.data
          }, function () {
          });
      }
    }
  }
</script>
