<template>
  <div id="Register">
    <div v-if="errorFlag" class="well text-danger">
      {{ error }}
    </div>
    <form>
      <v-text-field
        v-model="givenName"
        v-validate="'required'"
        :error-messages="errors.collect('givenName')"
        label="Given Name"
        data-vv-name="givenName"
        required
      ></v-text-field>
      <v-text-field
        v-model="familyName"
        v-validate="'required'"
        :error-messages="errors.collect('familyName')"
        label="Family Name"
        data-vv-name="familyName"
        required
      ></v-text-field>
      <v-text-field
        v-model="username"
        v-validate="'required|max:64|alpha_num'"
        :error-messages="errors.collect('username')"
        label="Username"
        :counter="64"
        data-vv-name="username"
        required
      ></v-text-field>
      <v-text-field
        v-model="email"
        v-validate="'required|email'"
        :error-messages="errors.collect('email')"
        label="Email Address"
        data-vv-name="email"
        required
      ></v-text-field>
      <v-text-field
        v-model="password"
        type="password"
        ref="password"
        v-validate="'required'"
        :error-messages="errors.collect('password')"
        label="Password"
        data-vv-name="password"
        required
      ></v-text-field>
      <v-text-field
        v-model="repeatedPassword"
        type="password"
        v-validate="'required|confirmed:password'"
        ref="repeatedPassword"
        :error-messages="errors.collect('repeatedPassword')"
        label="Confirm Password"
        data-vv-name="repeatedPassword"
        data-vv-as="password"
        required
      ></v-text-field>

      <v-btn color="primary" @click="submit">Submit</v-btn>
      <v-btn color="error" @click="clear">Clear</v-btn>
    </form>
  </div>
</template>

<script>
  import Navbar from "./Navbar";
  export default {
    components: {Navbar},
    $_veeValidate: {
      validator: 'new'
    },

    data: function() {
      return {
        error: "",
        errorFlag: false,
        givenName: "",
        familyName: "",
        username: "",
        email: "",
        password: "",
        repeatedPassword: "",
        dictionary: {
          attributes: {
            email: 'Email Address'
          },
          custom: {
            givenName: {
              required: function () {return 'Given name can not be empty'},
            },
            familyName: {
              required: function () {return 'Family name can not be empty'}
            },
            username: {
              required: function() {return 'Username can not be empty'},
              alpha_num: function () {return 'Username must only contain alpha numeric characters'},
              max: function () {return 'Username must be shorter than 64 characters'}
            },
            email: {
              required: function () {return 'Email can not be empty'}
            },
            password: {
              required: function () {return 'Password can not be empty'}
            },
            repeatedPassword: {
              required: function () {return "Password can not be empty"},
              confirmed: function () {return "Passwords do not match"}
            }
          }
        }
      }
    },

    mounted: function () {
      this.$validator.localize('en', this.dictionary)
    },

    methods: {
      submit: function () {
        this.$validator.validateAll()
          .then((result) => {
            if (!result) return;
            const user = {
              username: this.username,
              email: this.email,
              givenName: this.givenName,
              familyName: this.familyName,
              password: this.password
            };
            this.$http.post('http://localhost:4941/api/v1/users', JSON.stringify(user))
              .then(
                function () {
                  this.login();
                }, function (error) {
                  this.error = error;
                  this.errorFlag = true;
                }
              )
          }, function (error) {
            this.error = error;
            this.errorFlag = true;
          })
      },
      clear: function () {
        this.givenName = '';
        this.familyName = '';
        this.username = '';
        this.email = '';
        this.password = '';
        this.repeatedPassword = '';
      },

      login: function () {
        const credentials = {
          username: this.username,
          password: this.password
        };
        this.$http.post('http://localhost:4941/api/v1/users/login', JSON.stringify(credentials))
          .then(function (response) {
            this.$cookies.set('X-Authorization',response.data.token, '1d');
            this.$cookies.set('userId', response.data.userId, '1d');
            this.$router.push({ name: "Venues" });
          }, function (error) {
            this.error = error;
            this.errorFlag = true;
          });
      }
    }

  }
</script>

