<template>
  <div id="StarRating">
    <span v-if="starRating">
      <span v-for="i in Math.round(starRating)" class="fa fa-star checked"></span>
        {{ starRating.toFixed(dp) }}
    </span>
    <p v-else>No Star Rating</p>
  </div>
</template>

<script>
    export default {
        props: {
          starRating: {default: 3},
          dp: {default: 2}
        }
    }
</script>

