<template>
  <div id="Venue" class="body">
    <v-card :elevation=10 v-if="venueId !== -1">
      <div v-if="errorFlag" class="well text-danger">
        {{ error }}
      </div>
      <v-carousel v-if="venue.photos.length !== 0">
        <v-carousel-item
          v-for="(photo, i) in venue.photos"
          :key="i"
          :src="getPhotoUrl(venueId, photo)"
          contain
        />
      </v-carousel>
      <v-card-title>
        <h4>{{ venue.venueName }}</h4>
      </v-card-title>
      <v-card-text>
        <div v-if="addingPhoto">
          <add-venue-photo @cancelPhoto="addingPhoto = false"></add-venue-photo>
        </div>
        <div v-else>
          <strong>Mean Star Rating</strong>
          <star-rating :star-rating="meanStarRating" />
          <strong>Mode Cost rating</strong>
          <cost-rating :cost-rating="modeCostRating" />
          <p><strong>Date Added:</strong> {{ formatMyDate(venue.dateAdded) }}</p>
          <div v-if="editing">
            <form>
              <v-text-field
                v-model="venue.venueName"
                v-validate="'required|max:64'"
                :error-messages="errors.collect('name')"
                label="Name"
                :counter="64"
                data-vv-name="name"
                required
              ></v-text-field>
              <v-select
                v-model="venue.category"
                :items="categories"
                item-text="categoryName"
                item-value="categoryId"
                label="Category"
                data-vv-name="category"
              ></v-select>
              <v-text-field
                v-model="venue.shortDescription"
                v-validate="'required|max:128'"
                :error-messages="errors.collect('shortDescription')"
                label="Short Description"
                :counter="128"
                data-vv-name="shortDescription"
                required
              ></v-text-field>
              <v-textarea
                v-model="venue.longDescription"
                v-validate="'required|max:2048'"
                :error-messages="errors.collect('longDescription')"
                :counter="2048"
                label="Long Description"
                data-vv-name="longDescription"
                required
              ></v-textarea>
              <v-text-field
                v-model="venue.city"
                v-validate="'required|max:128'"
                :error-messages="errors.collect('city')"
                label="City"
                data-vv-name="city"
                required
              ></v-text-field>
              <v-text-field
                v-model="venue.address"
                v-validate="'required|max:256'"
                :error-messages="errors.collect('address')"
                label="Address"
                data-vv-name="address"
                required
              ></v-text-field>
              <v-text-field
                v-model="venue.latitude"
                v-validate="'required|between:-90,90'"
                :error-messages="errors.collect('latitude')"
                label="Latitude"
                data-vv-name="latitude"
                required
              ></v-text-field>
              <v-text-field
                v-model="venue.longitude"
                v-validate="'required|between:-180,180'"
                :error-messages="errors.collect('longitude')"
                label="Longitude"
                data-vv-name="longitude"
                required
              ></v-text-field>

              <v-btn @click="save" color="success">Save</v-btn>
              <v-btn @click="reset" color="warning">Reset</v-btn>
              <v-btn @click="cancel" color="error">Cancel</v-btn>
            </form>
          </div>
          <div v-else>
            <p><strong>Category:</strong> {{ venue.category.categoryName }}</p>
            <p><strong>Admin:</strong>
              <router-link
                v-if="venue.admin.userId !== Number($cookies.get('userId'))"
                :to="{name: 'OtherProfile', params: {id: venue.admin.userId}}"
              >{{ venue.admin.username }}</router-link>
              <router-link v-else :to="{name: 'MyProfile'}">{{ venue.admin.username }}</router-link>
            </p>
            <p><strong>City:</strong> {{ venue.city }}</p>
            <p><strong>Address:</strong> {{ venue.address }}</p>
            <p><strong>Description:</strong> {{ venue.shortDescription }} {{ extendDesc ? venue.longDescription : ""}}</p>
            <v-btn color="primary" small @click="extendDesc = !extendDesc">
              Show {{ extendDesc ? "short" : "long" }} description
            </v-btn>
            <router-link :to="{name: 'AddReview', params: {venueId: venueId}}" ><v-btn small color="primary" >Add a Review</v-btn></router-link>
            <div v-if="venue.admin.userId === Number($cookies.get('userId'))">
              <v-btn  small color="info" @click="addingPhoto = true">Add Photo</v-btn>
              <v-btn  small color="warning" @click="edit">Edit</v-btn>
            </div>
          </div>
        </div>
      </v-card-text>
      <view-review v-if="!addingPhoto" :venue-id="venueId"></view-review>
    </v-card>
    <v-card v-else>
      <div class="well text-danger">Bad venue Id</div>
    </v-card>
  </div>
</template>

<script>
  import StarRating from "./StarRating";
  import CostRating from "./CostRating";
  import ViewReview from "./ViewReview";
  import AddVenuePhoto from "./AddVenuePhoto";
  export default {
    $_veeValidate: {
      validator: 'new'
    },
    components: {AddVenuePhoto, ViewReview, CostRating, StarRating},
    props: {
      venueId: {default: -1 },
      meanStarRating: {default: null},
      modeCostRating: {default: null}
    },

    data: function () {
      return {
        error: "",
        errorFlag: false,
        categories: [],
        venue: {
          category: {},
          admin: {},
          photos: []
        },
        preVenue: {},
        extendDesc: false,
        editing: false,
        addingPhoto: false
      }
    },

    mounted: function () {
      this.getVenue();
      this.getCategories();
    },

    methods: {

      getVenue: function () {
        if (this.venueId === -1) this.venue = {venueName: "Incorrect venue id"};
        else {
          this.$http.get('http://localhost:4941/api/v1/venues/' + this.venueId)
            .then((response) => {
              this.venue = response.data;
            }, function (error) {
              this.error = error;
              this.errorFlag = true;
            });
        }
      },

      getPhotoUrl: function(id, photo) {
        return "http://localhost:4941/api/v1/venues/" + id + "/photos/" +photo.photoFilename;
      },

      leadingZeroes: function(timeUnit) {
        return timeUnit <= 9 ? "0" + timeUnit : timeUnit;
      },

      formatMyDate: function(dateString) {
        const date = new Date(dateString);
        return this.leadingZeroes(date.getDate()) + "/"
          + this.leadingZeroes(date.getMonth() + 1) + "/"
          + date.getFullYear();
      },

      edit: function () {
        console.log(this.venue);
        this.preVenue = JSON.parse(JSON.stringify(this.venue));
        console.log(this.preVenue);
        this.editing = true;
      },

      save: function () {
        this.$validator.validateAll()
          .then((result) => {
            if (!result) return;
            const venue = {
              venueName: this.venue.venueName,
              categoryId: this.venue.category.categoryId,
              city: this.venue.city,
              shortDescription: this.venue.shortDescription,
              longDescription: this.venue.longDescription,
              address: this.venue.address,
              latitude: this.venue.latitude,
              longitude: this.venue.longitude
            };
            this.$http.patch("http://localhost:4941/api/v1/venues/" + this.venueId, JSON.stringify(venue), {
              headers: {'X-Authorization': this.$cookies.get('X-Authorization')}
            })
              .then(function () {
                this.editing = false;
              }, function (error) {
                this.error = error;
                this.errorFlag = true;
              });
          });
      },

      reset: function () {
        this.venue.venueName = this.preVenue.venueName;
        this.venue.category = {
          categoryId: this.preVenue.category.categoryId,
          categoryName: this.preVenue.category.categoryName
        };
        this.venue.shortDescription = this.preVenue.shortDescription;
        this.venue.longDescription = this.preVenue.longDescription;
        this.venue.city = this.preVenue.city;
        this.venue.address = this.preVenue.address;
        this.venue.latitude = this.preVenue.latitude;
        this.venue.longitude = this.preVenue.longitude;
      },

      cancel: function () {
        this.reset();
        this.editing = false;
      },

      getCategories: function () {
        this.$http.get('http://localhost:4941/api/v1/categories')
          .then(
            function (response) {
              this.categories = response.data;
            }, function (error) {
              this.error = error;
              this.errorFlag = true;
            }
          )
      }

    }
  }
</script>

