<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div id="Venues" class="body">
    <div v-if="errorFlag" class="well text-danger">
      {{ error }}
    </div>

    <div>
      <v-card>
        <v-card-title>
          <div>
            <h2>Search</h2>
            <h6>Click search to filter venues</h6>
          </div>
        </v-card-title>
        <v-card-text>
        <form>
            <v-switch
              v-if="$cookies.isKey('X-Authorization')"
              color="primary"
              v-model="adminOnly"
              :label="'Only show venues venues you own'"
            ></v-switch>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
            <v-select
              v-if="geolocation"
              v-model="distanceSort"
              :items="distanceSorts"
              item-text="name"
              item-value="id"
              label="Sort By Distance"
              clearable
            ></v-select>
            <v-select
              v-model="city"
              :items="cities"
              label="Select City"
              clearable
            ></v-select>
            <v-select
              v-model="category"
              :items="categories"
              item-text="categoryName"
              item-value="categoryId"
              label="Select Categories"
              clearable
            ></v-select>
            <star-rating :star-rating="minStarRating" :dp="0" />
            <v-slider
              v-model="minStarRating"
              :tick-labels="[1,2,3,4,5]"
              label="Min Star Rating"
              :max="5"
              :min="1"
              ticks="always"
              always-dirty
            >
            </v-slider>
            <cost-rating :cost-rating="maxCostRating" />
            <v-slider
              v-model="maxCostRating"
              :tick-labels="['Free',1,2,3,4]"
              label="Max Cost Rating"
              :max="4"
              :min="0"
              ticks="always"
              always-dirty
            ></v-slider>
            <v-btn @click="getQueryLink">Search</v-btn>
          </form>
        </v-card-text>
      </v-card>
      <div>
        <h2>Venues</h2>
        <v-card>
          <v-data-table
            :headers="tableHeaders"
            :items="venues"
            :pagination.sync="pagination"
            item-key="venueId"
          >
            <template v-slot:items="item">
              <tr @click="item.expanded = !item.expanded">
                <td>{{ item.item.venueName }}</td>
                <td>{{ item.item.city }}</td>
                <td>{{ item.item.categoryName }}</td>
                <td><star-rating :star-rating="item.item.meanStarRating"/></td>
                <td><cost-rating :cost-rating="item.item.modeCostRating"/></td>
                <td>
                  <img class="tablePic" :src=item.item.photo alt="Image not found" />
                </td>
              </tr>
            </template>
            <template v-slot:expand="item">
              <Venue
                :venueId="item.item.venueId"
                :mode-cost-rating="item.item.modeCostRating"
                :mean-star-rating="item.item.meanStarRating"
              />
            </template>
          </v-data-table>
        </v-card>
      </div>
    </div>
  </div>
</template>


<script>
  import  Venue from './Venue.vue'
  import StarRating from './StarRating.vue'
  import CostRating from "./CostRating.vue";

  export default {
    components: {
      CostRating,
      StarRating,
      Venue
    },

    data() {
      return {
        error: "",
        errorFlag: false,
        search: '',
        venues: [],
        cities: [],
        categories: [],
        venuePhotos: {},
        geolocation: false,
        city: "",
        category: "",
        adminOnly: false,
        minStarRating: 1,
        maxCostRating: 4,
        latitude: null,
        longitude: null,
        distanceSort: null,
        distanceSorts: [{id: 1, name: 'Sort by closest'}, {id: 2, name: 'Sort by furthest'}],
        tableHeaders: [
          {text: "Name", value: 'venueName'},
          {text: "City", value: 'city'},
          {text: "Category", value: 'categoryName'},
          {text: "Star Rating (1-5)", value: 'meanStarRating'},
          {text: "Cost Rating (0-4)", value: 'modeCostRating'},
          {text: "Photo", value: 'photo'}
        ],
        pagination: {
          rowsPerPage: 10,
          sortBy: 'starRating'
        },
        count: 0
      }
    },

    mounted: function() {
      this.getCurrentLocation();
      this.getVenues();
      this.$emit('refresh');
    },

    methods: {
      getCurrentLocation: function () {
        if (navigator.geolocation) {
          this.geolocation = true;
          navigator.geolocation.getCurrentPosition(this.showPosition)
        }
      },

      showPosition: function(position) {
        this.latitude = position.coords.latitude;
        this.longitude = position.coords.longitude;
      },

      getQueryLink: function () {
        let queryParams = {};
        if (this.adminOnly) queryParams.adminId = this.$cookies.get('userId');
        if (this.search) queryParams.q = this.search;
        if (this.city) queryParams.city = this.city;
        if (this.category) queryParams.categoryId = this.category;
        if (this.minStarRating > 1) queryParams.minStarRating = this.minStarRating;
        if (this.maxCostRating < 4) queryParams.maxCostRating = this.maxCostRating;
        if (this.distanceSort) {
          console.log(this.distanceSort);
          queryParams.sortBy = 'DISTANCE';
          if (this.distanceSort === 2) queryParams.reverseSort = true;
        }
        this.$router.push({name: 'Venues', query: queryParams});
        this.getVenues();
      },

      setSearchValues: function () {
        this.adminOnly = !!this.$route.query.adminId;
        this.city = this.$route.query.city;
        this.categoryId = this.$route.query.categoryId;
        this.minStarRating = this.$route.query.minStarRating ? Number(this.$route.query.minStarRating) : 1;
        this.maxCostRating = (this.$route.query.maxCostRating != null) ? Number(this.$route.query.maxCostRating) : 4;
        this.search = this.$route.query.q;
        if (this.$route.query.sortBy) {
          this.$route.query.reverseSort ? this.distanceSort = 2 : this.distanceSort = 1;
        } else this.distanceSort = null;
      },

      getVenues: function () {
        this.setSearchValues();
        const adminId = this.$route.query.adminId;
        const search = this.$route.query.q;
        const city = this.$route.query.city;
        const categoryId = this.$route.query.categoryId;
        const minStarRating = Number(this.$route.query.minStarRating);
        const maxCostRating  = Number(this.$route.query.maxCostRating);
        const sortBy = this.$route.query.sortBy;
        const reverseSort = this.$route.query.reverseSort;
        let httpUrl = 'http://localhost:4941/api/v1/venues';
        let multipleChar = "";
        if (adminId || search || city || categoryId || minStarRating || (maxCostRating != null && maxCostRating < 4) || sortBy) {
          httpUrl += "?";
        }
        if (adminId) {
          httpUrl += "adminId=" +encodeURIComponent(adminId).toString();
          multipleChar = "&";
        }
        if (search) {
          httpUrl += multipleChar + "q=" +encodeURIComponent(search).toString();
          multipleChar = "&";
        }
        if (city) {
          httpUrl += multipleChar + "city=" + encodeURIComponent(city).toString();
          multipleChar = "&";
        }
        if (categoryId) {
          httpUrl += multipleChar + "categoryId=" + encodeURIComponent(categoryId).toString();
          multipleChar = "&";
        }
        if (minStarRating) {
          httpUrl += multipleChar + "minStarRating=" + encodeURIComponent(minStarRating.toString()).toString();
          multipleChar = "&";
        }
        if (maxCostRating != null && maxCostRating < 4) {
          httpUrl += multipleChar + "maxCostRating=" + encodeURIComponent(maxCostRating.toString()).toString();
          multipleChar = "&";
        }
        if (sortBy) {
          httpUrl += multipleChar + "sortBy=DISTANCE";
          multipleChar = "&";
          httpUrl += multipleChar + "myLatitude=" + encodeURIComponent(this.latitude.toString()).toString();
          httpUrl += multipleChar + "myLongitude=" + encodeURIComponent(this.longitude.toString()).toString();
        }
        if (reverseSort) {
          httpUrl += multipleChar + "reverseSort=true";
        }
        this.$http.get(httpUrl)
          .then(function (response) {
            this.venues = response.data;
            this.getCities();
            this.getCategories();
            this.getVenuePhotos();

          }, function (error) {
            this.error = error;
            this.errorFlag = true;
          });
      },

      getCities: function () {
        this.$http.get('http://localhost:4941/api/v1/venues')
          .then(function (response) {
            let venues = response.data;
            this.count++;
            for (let i = 0; i < venues.length; i++) {
              let city = venues[i].city;
              if (!this.cities.includes(city)) {
                this.cities.push(city)
              }
            }
          }, function (error) {
            this.error = error;
            this.errorFlag = true;
          });
      },

      getCategories: function () {
        this.$http.get('http://localhost:4941/api/v1/categories')
          .then(function (response) {
            this.categories = response.data;
            for (let i=0; i<this.venues.length; i++) {
              let catId = this.venues[i].categoryId - 1;
              this.venues[i]["categoryName"] = this.categories[catId].categoryName;
            }
            this.count++;
          }, function (error) {
            this.error = error;
            this.errorFlag = true;
          });
      },

      getVenuePhotos: function () {
        for (let i = 0; i < this.venues.length; i++) {
          let photo = this.venues[i].primaryPhoto;
          if (photo) {
            this.venues[i]['photo'] = 'http://localhost:4941/api/v1/venues/' + this.venues[i].venueId + '/photos/' + photo;
          } else {
            this.venues[i]['photo'] = "../src/assets/default.png";
          }
          if (!this.venues[i].meanStarRating) this.venues[i].meanStarRating = 3;
          if (this.venues[i].modeCostRating == null) this.venues[i].modeCostRating = 0;
        }
      }

    }
  }
</script>
