<template>
  <div id="ViewReview">
    <v-card :elevation="20">
      <v-card-title><h2>Reviews</h2></v-card-title>
      <v-container fluid grid-list-md>
        <v-data-iterator
          :no-results-text="noResultsText"
          :items="reviews"
          :rows-per-page-items="rowsPerPageItems"
          :pagination.sync="pagination"
          content-tag="v-layout"
          row
          wrap
        >
          <template v-slot:item="props">
            <v-flex xs12 sm6 md4 lg3>
              <v-card :elevation="3">
                <v-card-title>
                  <p><star-rating :star-rating="props.item.starRating"></star-rating></p>
                  <v-spacer></v-spacer>
                  <p><cost-rating :cost-rating="props.item.costRating"></cost-rating></p>
                </v-card-title>
                <v-card-text>
                  <p><strong>Time Posted:</strong> {{formatMyDate(props.item.timePosted)}}</p>
                  <p><strong>Review Body:</strong> {{props.item.reviewBody}}</p>
                  <p><strong>Author:</strong><router-link
                    v-if="props.item.reviewAuthor.userId !== Number($cookies.get('userId'))"
                    :to="{name: 'OtherProfile', params: {id: props.item.reviewAuthor.userId}}"
                  >{{ props.item.reviewAuthor.username }}</router-link>
                    <router-link v-else :to="{name: 'MyProfile'}">{{ props.item.reviewAuthor.username }}</router-link>
                  </p>
                </v-card-text>
              </v-card>
            </v-flex>
          </template>
        </v-data-iterator>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import StarRating from "./StarRating";
import CostRating from "./CostRating";
export default {
  components: {CostRating, StarRating},
  props: {
    venueId: {default: -1}
  },

  data: function () {
    return {
      reviews: [],
      rowsPerPageItems: [1, 2, 3, 4, 5],
      noResultsText: "No Reviews found",
      pagination: {
        rowsPerPage: 3
      }
    }
  },

  mounted: function () {
    this.getReviews();
  },

  methods: {
    getReviews: function () {
      this.$http.get("http://localhost:4941/api/v1/venues/" + this.venueId + '/reviews')
        .then(function (response) {
          this.reviews = response.data
        }, function () {
        });
    },

    leadingZeroes: function(timeUnit) {
      return timeUnit <= 9 ? "0" + timeUnit : timeUnit;
    },

    formatMyDate: function(dateString) {
      const date = new Date(dateString);
      return this.leadingZeroes(date.getDate()) + "/"
        + this.leadingZeroes(date.getMonth() + 1) + "/"
        + date.getFullYear() + " - "
        + this.leadingZeroes(date.getHours()) + ":"
        + this.leadingZeroes(date.getMinutes());
    },
  }
}
</script>
